/* register.css */

html {
    color-scheme: light dark;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 0px;
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-color: #f6f6f6;
}


button[type="submit"] {
    background-color: black; /* Set button color to black */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding for better appearance */
    border-radius: 5px; /* Optional: Add rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    width: 100%; /* Make the button span the same width as the text box */
    margin-top: 20px; /* Add space between the button and the text box */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

button[type="submit"]:hover {
    opacity: 0.9; /* Add a hover effect */
}


.center-container {
    width: 75em;
    margin: auto;
    justify-content: center

}

.container {
    width: 35%;
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .form-group {
    display: block; /* Ensure each form group takes up the full width */
    margin-bottom: 20px; /* Add spacing between form groups */
}

/* Set label font color to black and make text bold */
form .form-group label {
    width: 100%; /* Make the label take up the full width */
    color: black; /* Set label font color to black */
    font-weight: bold; /* Make labels bold */
    text-align: left; /* Align labels to the left */
    display: block; /* Ensure labels take up the full width */
    margin-bottom: 5px; /* Add spacing between label and input */
}

/* Make the text boxes wider */
form .form-group input {
    width: 100%; /* Set the width to 100% of the parent container */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    height: 40px; /* Set a consistent height for the input fields */
    padding: 10px; /* Add padding for better appearance */
    font-size: 16px; /* Adjust font size for readability */
}

.col-md-6 {
    max-width: 600px; /* Increase the maximum width */
    width: 100%; /* Ensure it scales properly */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 50, 20, 0.7);
    backdrop-filter: blur(8px);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex !important;
}

/* Modal Content */
.modal-content {
    background: #f4f9f4;
    border-radius: 12px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}